<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd" >
<log4j:configuration>

	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<!-- 
			<param name="ConversionPattern"
				value="[%d{ISO8601}] %-5p [%c] %m %n" />
			-->
			<param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss}  %c{1} %x - %m%n" />
		</layout>
	</appender>
	
	<appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{dd MMM yyyy HH:mm:ss}  %c{1} %x - %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	
	<appender name="DropInRegistration"
		class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="C:\Github\Java\Eclipse\2022-06\javaee\program_archive\dropInRegistration\DropInReg.log" />
		<!-- 
		<param name="File" value="/home/dropInRegistration/DropInReg.log" />
		 -->
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="500KB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{ISO8601}] %-5p %m%n" />
		</layout>
	</appender>

	<!--                          -->
	<!-- Declare the SMTPAppender -->
	<!--                          -->
	<!-- 
	<appender name="EMAIL" class="org.apache.log4j.net.SMTPAppender">
		<param name="BufferSize" value="512" />
		<param name="SMTPHost" value="smtp.mail.yahoo.com" />
		<param name="From" value="whoever@wherever.com" />
		<param name="To" value="whoever@wherever.com" />
		<param name="Subject"
			value="[SMTPAppender] Application message" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{ISO8601}]%n%n%-5p%n%n%c%n%n%m%n%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="FATAL" />
			<param name="LevelMax" value="FATAL" />
		</filter>
	</appender>
	 -->

    <logger name="com.rsnorrena" additivity="false">
		<level value="trace" />
		<appender-ref ref="DropInRegistration" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="index.jsp">
   <level value="info" />
   <appender-ref ref="DropInRegistration" />
   <appender-ref ref="STDOUT" />
</logger>
	
	<logger name="welcome.jsp">
   <level value="info" />
   <appender-ref ref="DropInRegistration" />
   <appender-ref ref="STDOUT" />
</logger>

<logger name="m.welcome.jsp">
   <level value="info" />
   <appender-ref ref="DropInRegistration" />
   <appender-ref ref="STDOUT" />
</logger>

<logger name="admin.jsp">
   <level value="info" />
   <appender-ref ref="DropInRegistration" />
   <appender-ref ref="STDOUT" />
</logger>

<logger name="maintenance.jsp">
   <level value="info" />
   <appender-ref ref="DropInRegistration" />
   <appender-ref ref="STDOUT" />
</logger>

<logger name="emailInvite.jsp">
   <level value="info" />
   <appender-ref ref="DropInRegistration" />
   <appender-ref ref="STDOUT" />
</logger>

<logger name="emailUpdate.jsp">
   <level value="info" />
   <appender-ref ref="DropInRegistration" />
   <appender-ref ref="STDOUT" />
</logger>
		
	<!-- ** -->
	
	<root>
		<level value="ERROR" />
		<appender-ref ref="STDERR" />
		<!--  <appender-ref ref="EMAIL" /> -->
	</root>


</log4j:configuration>
